<div class="content-container">
  <h2><%= @lesson.title %></h2>

  <p>Posted <i> on: <%= @lesson.created_at.to_s[0..10]%> </i></p>
  <p>Posted by: <%= @lesson.user.username %></a></p>
  <p>Category: <%=@lesson.category.category%></p>
  <p>Grade Level: <%=@lesson.grade_level.level%></p>
  <b>Title:</b><br>
    <%=@lesson.title%>
    <p>
  <b>Objective:</b><br>
    <%=@lesson.objective%>
    <p>
  <b>Warmup:</b><br>
    <%=@lesson.warmup%>
    <p>
  <b>Main Lesson:</b><br>
    <%=@lesson.main%>
    <p>
  <b>Homework:</b><br>
    <%=@lesson.homework%>
    <p>

  <% if session[:user_id] == @lesson.user_id%>
    <form action="/lessons/<%= @lesson.id %>/edit">
      <input type="submit" value="Edit Lesson Plan">
    </form>
  <%end%>

  <h3>Comments on this lesson:</h3>
  <div class="comment-display">
    <% @comments.each do |comment|%>
      <%=
        erb :'lessons/_comment',
        :layout => false,
        :locals => { user: @user, comment: comment}
      %>
    <% end %>
  </div>

  <% if session[:user_id] %>
      <h2> Add a comment to this lesson plan:</h2>
      <form action="/lessons/<%=@lesson.id%>/comments" method="POST" id='comment-form'>
        <input type='hidden' name='comment[lesson_id]' value='<%= @lesson.id %>'>
        <textarea id="comment-body" name="comment[content]" type="text"></textarea>
        <p></p>
        <input class='comment-btn' type="submit" name="submit">
      </form>
      <p></p>
  <%end%>
</div>

<!-- add later to line 5 <a href="/user/<%= @user.id %>"> -->
<!-- Implement comments later -->
